.plane {
    height: 100%;
    width: 100%;
}

.plane_aqua {
    background-color: aqua;
}

.plane_red {
    background-color: red;
}

.plane_black {
    background-color: black;
}

.plane_green {
    background-color: green;
}